<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title></title>
   <link rel="stylesheet" type="text/css" href="static/design.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 </head>
 <body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Value Searcher</a>
          <form class="d-flex" action="/howto" method="GET">
          <a type="button" class="btn btn-primary" href="/howto">使い方</a>
          </form>
          <form class="d-flex" action="/login" method="GET">
            <a type="button" class="btn btn-primary" href="/login">ログイン</a>
          </form>
          <form class="d-flex" method="POST">
            <input class="form-control me-2" type="search" placeholder="ソニー,2143" aria-label="Search" name=num >
            <button class="btn btn-outline-success" type="submit">Search</button>
            
          </form>
        </div>
      </nav>  
  <!--全ての入力欄を閲覧者から編集できないようにしたいときはinputの中にdisabled属性を入れること-->
  
    
      
       <ul id="1" class="inner-table">損益計算書</ul>
       

    <form id="form" action="/roughprofit" method="POST">
          <label for="">売上高{{originaldata1}}</label>
          <input id="number2" class="main" type="number" name="sales" placeholder="千万円">
          <label for="">売上総利益（粗利益）{{originaldata2}}<span id="span3"></span></label>
          <input id="number3" class="main" type="number" name="roughprofit" placeholder="千万円">
          <input type="submit" value="計算"onclick="onclickBtn3()" />
          <ul>粗利益率(小数点第一位％表示)</ul>{{ result }}
          
        </form>


  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
 </body>
      
 
</html>
