<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>ログイン画面</h1>
        <form action="/login" method="post">
            <label for="">ユーザー名</label>
            <input type="text" name="user_name" placeholder="user name">
            <label for="">パスワード</label>
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="ログイン">
        </form>
        <a href="/signup">新規登録はこちら</a>
    </body>
    </html>
