<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title>singup</title>
   <link rel="stylesheet" type="text/css" href="stylesheets/design.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 </head>
<body>
    <h1>ユーザー登録</h1>
    <a href="/login">ログイン画面に戻る</a>
    <form  method="POST">
        <label for="">ユーザー名</label>
        <input type="text" name="user_name" placeholder="user name">
        <label for="">パスワード</label>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="新規登録">
    </form>
</body>
</html>
